<template>
  <div>
    <b-button id="show-btn" @click="showModal">
      <img src="https://img.icons8.com/ios/36/000000/plus-math.png">
    </b-button>
    <b-modal ref="my-modal"  hide-footer title="Добавить дело в список">
      <div class="d-flex justify-content-space-around title-body">
        <p>Название</p>
        <input type="text" v-model="addListTitle">
        <input type="checkbox" class="urgently" v-model="urgently">
        <p>Срочно</p>
      </div>
      <b-button id="btn-add" @click="hideModal(addListTitle, urgently, check)">Добавить</b-button>
    </b-modal>
  </div>
</template>

<script>
export default {
  data: () => ({
    addListTitle: '',
    urgently: false,
    check: false
  }),
  methods: {
    showModal () {
      this.$refs['my-modal'].show()
    },
    hideModal (addListTitle, urgently, check) {
      if (this.addListTitle.trim() === '') {
        alert('Невозможно добавить поле в список')
      } else if (this.addListTitle > 30) {
        alert('В поле Название должно быть меньше 30 знаков')
      } else {
        this.$emit('addList', addListTitle, urgently, check)
        this.$refs['my-modal'].hide()
        this.addListTitle = ''
        this.urgently = false
      }
    }
  }
}
</script>

<style scoped lang="scss">
  #show-btn {
    background: none;
    margin-left: 10px;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: 1px 1px 1px 1px #ccc;
    outline: none;

    img {
      margin-left: -10px;
      margin-top: -5px;
    }
  }

  .title-body {
    height: 100px;
    p {
      margin: auto 0;
      font-size: 18px;
    }
    input {
      width: 100%;
      margin: auto 0 auto 10px;
      height: 30px;
    }

    .urgently {
      margin: auto 10px;
      width: 52px;
      height: 30px;
    }
  }

  #btn-add {
    display: block;
    margin: 0 auto;
    border: 1px solid #cccccc;
    background: white;
    color: #2c3e50;
    transition: all 0.5s ease;
  }

  #btn-add:hover {
    border: 1px solid #2c3e50;
    background: #42b983;
    transition: all 0.5s ease;
  }
</style>
