<template>
  <div @click="handlerClickCheckbox(k)">
    <img v-if="checked" src="https://img.icons8.com/metro/26/000000/checkmark.png">
  </div>
</template>

<script>
export default {
  props: ['k', 'check'],
  data () {
    return {
      checked: this.check
    }
  },
  methods: {
    handlerClickCheckbox (k) {
      this.checked = !this.checked
      // console.log(this.checked, k)
      this.$emit('handlerClickCheckbox', this.checked, k)
    }
  }
}
</script>

<style scoped lang="scss">
  div {
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    margin: 10px 10px 0 20px;
  }
</style>
