<template>
  <div v-if="{selectValue: 0 }" class="list" @click="select">
    <div class="list__title" :class="{green: t.color === 1, grey: t.color === 2}">
      <h3>{{title}}</h3>
    </div>
    <EditTodoList
    @editTodoList = editTodoList
    />
    <button @click="removeTodo"><img src="https://img.icons8.com/material/26/000000/delete-sign--v1.png"></button>
  </div>
</template>

<script>
import EditTodoList from './EditTodoList'
export default {
  props: ['t', 'selectValue'],
  data: () => ({
    to: []
  }),
  mounted () {
    console.log('component todo ', this.t)
  },
  computed: {
    title () {
      return this.t.title
    }
  },
  methods: {
    select () {
      this.$emit('select')
    },
    removeTodo () {
      const removeTodoConfirm = confirm('Удалить список дел?')
      if (removeTodoConfirm) {
        this.$emit('removeTodoList')
      } else {}
    },
    editTodoList (editTodoListTitle) {
      this.$emit('editTodoList', editTodoListTitle)
    }
  },
  filters: {
    sortTodo: function () {
      function compare (a, b) {
        if (a.title < b.title) {
          return -1
        }
        if (a.title > b.title) {
          return 1
        } else {
          return 0
        }
      }
      return this.todo.sort(compare)
    }
  },
  components: {
    EditTodoList
  }
}
</script>

<style scoped lang="scss">
  .list{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;

    .list__title {
      width: 70%;
      border: 1px solid #2c3e50;
      border-radius: 10px;

      h3 {
        margin: 10px 0 0 0;
        text-align: center;
      }
    }

    button{
      width: 40px;
      height: 40px;
      border: 1px solid #ccc;
      border-radius: 50%;
      margin: 5px;
      background: white;
      box-shadow: 1px 1px 1px 1px #ccc;
      outline: none;
    }
  }
  .green {
    background: #49ebae;
  }

  .grey {
    background: #cccccc;
  }
</style>
