<template>
  <div class="list__content" >
    <div class="list__li" v-for="(list, key) in formatList" :key="key"
    >
      <CheckList
      :k="key"
      :check="list.check"
      @handlerClickCheckbox = handlerClickCheckbox
      />
      <div class="list__li__title">
        <h3>{{list.title}}</h3>
        <h3>{{list.date}}</h3>
        <p v-if="list.urgently == true" class="red-urgently"></p>
      </div>
      <div class="list__li__btn">
        <EditList
        :k = key
        @editList = editList
        />
        <button @click="removeList(key)"><img src="https://img.icons8.com/material/26/000000/delete-sign--v1.png"></button>
      </div>
    </div>
  </div>
</template>

<script>
import EditList from './EditList'
import CheckList from './CheckList'
export default {
  props: ['t'],
  data: () => ({
    check: false,
    i: 0
  }),
  mounted () {
    // console.log('mounted', this.t)
  },
  computed: {
    formatList () {
      const TodoList = {}
      for (let i in this.t) {
        if (i !== 'title' && i !== 'color') {
          TodoList[i] = this.t[i]
        }
      }
      return TodoList
    }
  },
  methods: {
    removeList (key) {
      this.$emit('removeList', key)
      delete this.t[key]
    },
    editList (editListTitle, urgently, k) {
      this.$emit('editList', editListTitle, urgently, k)
    },
    handlerClickCheckbox (check, k) {
      this.$emit('handlerClickCheckbox', check, k)
    }
  },
  components: {
    EditList,
    CheckList
  }
}
</script>

<style scoped lang="scss">

.list__content{
  display: flex;
  flex-direction: column;

  .list__li{
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-top: 10px;

    input{
      margin: auto 10px auto 30px;
      height: 20px;
      width: 20px;
    }

    .list__li__title{
      position: relative;
      margin: 0;
      display: flex;
      flex-direction: row;
      border: 1px solid #2c3e50;
      border-radius: 10px;
      width: 75%;
      justify-content: space-around;

      h3{
        margin: 10px 0 0 0;
      }

      .red-urgently {
        left: 10px;
        top: 20px;
        position: absolute;
        background: red;
        border-radius: 50%;
        border: 1px solid darkred;
        height: 10px;
        width: 10px;
      }
    }
    .list__li__btn{
      display: flex;
      button{
        width: 40px;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 50%;
        margin: 5px;
        background: white;
        box-shadow: 1px 1px 1px 1px #ccc;
        margin-right: 10px;
        outline: none;
      }
    }
  }
}
</style>
