<template>
  <div>
    <b-button id="show-btn" @click="showModal">
      <img src="https://img.icons8.com/material-two-tone/24/000000/edit--v1.png">
    </b-button>
    <b-modal ref="my-modal"  hide-footer title="Редактировать список дел">
      <div class="d-flex justify-content-space-around title-body">
        <p>Название</p>
        <input type="text" v-model="editTodoListTitle">
      </div>
      <b-button id="btn-add" @click="hideModal(editTodoListTitle)">Редактировать</b-button>
    </b-modal>
  </div>
</template>

<script>
export default {
  data: () => ({
    editTodoListTitle: ''
  }),
  methods: {
    showModal () {
      this.$refs['my-modal'].show()
    },
    hideModal (editTodoListTitle) {
      if (this.editTodoListTitle.trim() === '') {
        alert('Невозможно редактировать список дел')
      } else if (this.editTodoListTitle > 30) {
        alert('В поле Название должно быть меньше 30 знаков')
      } else {
        this.$emit('editTodoList', editTodoListTitle)
        this.$refs['my-modal'].hide()
        this.editTodoListTitle = ''
      }
    }
  }
}
</script>

<style scoped lang="scss">
  #show-btn {
    background: none;
    margin: 5px;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: 1px 1px 1px 1px #ccc;
    outline: none;

    img {
      margin-left: -5px;
    }
  }

  .title-body {
    height: 100px;
    p {
      margin: auto 0;
      font-size: 18px;
    }
    input {
      width: 100%;
      margin: auto 0 auto 10px;
      height: 30px;
    }
  }

  #btn-add {
    display: block;
    margin: 0 auto;
    border: 1px solid #cccccc;
    background: white;
    color: #2c3e50;
    transition: all 0.5s ease;
  }

  #btn-add:hover {
    border: 1px solid #2c3e50;
    background: #42b983;
    transition: all 0.5s ease;
  }
</style>
