<template>
  <div id="List">
    <div class="title">
      <h2>Список дел</h2>
    </div>
    <div class="list">
      <ComponentList
        v-if="todo"
      :t="todo[todoKey]"
      @removeList="removeList"
      @editList = editList
      @handlerClickCheckbox = handlerClickCheckbox
      />
      <div class="btn">
      <AddList
      @addList = addList
      />
      </div>
    </div>
  </div>
</template>

<script>
import ComponentList from './ComponentList'
import AddList from './AddList'
export default {
  props: ['todoKey'],
  data: () => ({
    todo: null,
    countList: null,
    countRemoveList: null,
    addListTitle: '',
    urgently: null,
    countEditList: null,
    editListTitle: ''
  }),
  async mounted () {
    await this.$store.dispatch('fetchTodo')
    this.todo = this.$store.getters.todo
    this.countList = Object.keys(this.todo[this.todoKey]).length
  },
  methods: {
    async addList (addListTitle, urgently, check) {
      this.countList = this.countList + 1
      this.addListTitle = addListTitle
      this.urgently = urgently
      const day = new Date().getDate()
      const month = new Date().getMonth() + 1
      const year = new Date().getFullYear()
      const date = day + '-' + month + '-' + year
      const addListForm = {
        key: this.todoKey,
        i: this.countList,
        title: this.addListTitle,
        urgently: this.urgently,
        check: check,
        date: date
      }
      await this.$store.dispatch('addList', addListForm)
      this.todo = this.$store.getters.todo
      this.$forceUpdate()
    },
    async removeList (key) {
      this.countRemoveList = key
      const removeListForm = {
        keyTodo: this.todoKey,
        keyList: this.countRemoveList
      }
      await this.$store.dispatch('removeList', removeListForm)
      this.todo = this.$store.getters.todo
      this.$forceUpdate()
    },
    async editList (editListTitle, urgently, k) {
      this.countEditList = k
      this.urgently = urgently
      this.editListTitle = editListTitle
      const editListForm = {
        keyTodo: this.todoKey,
        keyList: this.countEditList,
        title: this.editListTitle,
        urgently: this.urgently
      }
      await this.$store.dispatch('editList', editListForm)
      this.todo = this.$store.getters.todo
      this.$forceUpdate()
    },
    async handlerClickCheckbox (check, k) {
      const checkListForm = {
        keyTodo: this.todoKey,
        keyList: k,
        check: check
      }
      await this.$store.dispatch('checkList', checkListForm)
      this.todo = this.$store.getters.todo
      let colorTodo = []
      let colorCount = 0
      let colorTodoNum = 0
      for (let i in this.todo[this.todoKey]) {
        if (i !== 'title' && i !== 'color') {
          colorTodo.push(this.todo[this.todoKey][i].check)
        }
      }
      for (let i in colorTodo) {
        if (colorTodo[i]) {
          colorCount = colorCount + 1
        }
      }
      if (colorCount !== 0 && colorCount < colorTodo.length) {
        colorTodoNum = 1
      } else if (colorCount !== 0 && colorCount === colorTodo.length) {
        colorTodoNum = 2
      }
      const colorChangeForm = {
        color: colorTodoNum,
        keyTodo: this.todoKey
      }
      await this.$store.dispatch('colorChange', colorChangeForm)
      this.todo = this.$store.getters.todo
      this.$forceUpdate()
      this.$root.$emit('TodoColorChange')
    }
  },
  components: {
    ComponentList,
    AddList
  }
}
</script>

<style scoped lang="scss">
  #List{
    background: white;
    width: 100%;
    border: 1px solid #2c3e50;
    height: 500px;

    .title {
      height: 50px;

      h2{
        margin: 10px 0 0 0;
        text-align: center;
      }
    }

    .list{
      margin: 0;
      display: flex;
      flex-direction: column;
      height: 440px;
      position: relative;

      .btn{
        text-align: left;
        height: 50px;
        position: absolute;
        bottom: 12px;
        button{
          margin: 0;
          margin-left: 10px;
          background: white;
          border: 1px solid #cccccc;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          box-shadow: 1px 1px 1px 1px #ccc;
          outline: none;
        }
      }
    }
  }
</style>
