<template>
  <div id="TodoList">
    <div class="select">
      <select v-model="selectValue" @change="selectTodo">
        <option value="0" selected>Все</option>
        <option value="1">Выполненные</option>
        <option value="2">Невыполненные</option>
      </select>
    </div>
    <div class="todo">
      <ComponentTodo
      v-for="(t, key) in formatSelectTodo"
      :key="key"
      :t="t "
      :selectValue="selectValue"
      @select="select(key)"
      @removeTodoList = removeTodoList
      @editTodoList = editTodoList
      />
      <div class="btn">
      <AddTodoList
      @addTodoList = addTodoList
      />
      </div>
    </div>
  </div>
</template>

<script>
import ComponentTodo from './ComponentTodo'
import AddTodoList from './AddTodoList'
export default {
  data: () => ({
    todo: [],
    countTodoList: null,
    addTodoListTitle: '',
    countRemoveTodoList: null,
    countEditTodoList: null,
    editTodoListTitle: '',
    selectValue: 0
  }),
  async mounted () {
    await this.$store.dispatch('fetchTodo')
    this.todo = this.$store.state.todo.todo
    this.countTodoList = Object.keys(this.todo).length
    this.$root.$on('TodoColorChange', this.TodoColorChange)
  },
  computed: {
    sortTodo: function () {
      // function compare (a, b) {
      //   if (a.title >= b.title) {
      //     return a.title > b.title ? 1 : 0
      //   } else {
      //     return -1
      //   }
      // }

      // console.log(this.todo.slice().sort(compare))
      return this.todo
    },
    // formatSelectTodo () {
    //   let formatTodo = []
    //   for (let i in this.todo) {
    //     if (this.selectValue === 0 && this.todo[i].color === 0) {
    //       // formatTodo[i] = this.todo[i]
    //       formatTodo.push(this.todo[i])
    //       console.log(formatTodo)
    //       }
    //     if (this.selectValue === 1 && this.todo[i].color === 1) {
    //       formatTodo.push(this.todo[i])
    //       }
    //     if (this.selectValue === 2 && this.todo[i].color === 2) {
    //       formatTodo.push(this.todo[i])
    //       }
    //     }
    //   console.log(formatTodo)
    //   return formatTodo
    // },
    formatSelectTodo () {
      let todo = {}
      for (let i in this.todo) {
        if (this.selectValue === 0 && this.todo[i].color === 0) {
        todo[i] = this.todo[i]
        // todo.push(this.todo[i])
        console.log(todo)
        }
      if (this.selectValue === 1 && this.todo[i].color === 1) {
        todo[i] = this.todo[i]
        // formatTodo.push(this.todo[i])
        }
      if (this.selectValue === 2 && this.todo[i].color === 2) {
        todo[i] = this.todo[i]
        // formatTodo.push(this.todo[i])
        }
      }
      return todo
    }

  },
  methods: {
    TodoColorChange () {
      this.todo = this.$store.state.todo.todo
      this.$forceUpdate()
    },
    select (key) {
      this.countRemoveTodoList = key
      this.countEditTodoList = key
      this.$emit('select', key)
    },
    async addTodoList (addTodoListTitle, color) {
      // console.log('count в начале', this.countTodoList)
      this.countTodoList = this.countTodoList + 1
      // console.log('count после +1 ', this.countTodoList)
      this.addTodoListTitle = addTodoListTitle
      const addTodoListForm = {
        i: this.countTodoList,
        title: this.addTodoListTitle,
        color: color
      }
      await this.$store.dispatch('addTodoList', addTodoListForm)
      this.$toastr.success('Список успешно добавлен', 'Succes',
        {
          closeButton: true,
          timeOut: 3000,
        }
      );
      // console.log('После добавления, до отрисовки ', this.todo)
      this.todo = this.$store.getters.todo
      this.$forceUpdate()
      // console.log('После добавления, после отрисовки ', this.todo)
    },
    async removeTodoList () {
      const removeTodoListForm = {
        i: this.countRemoveTodoList
      }
      if (Object.keys(this.todo).length === 1) {
        alert('В списке не должно быть меньше 1 дела')
      } else {
        console.log('До удаления ', this.todo)
        await this.$store.dispatch('removeTodoList', removeTodoListForm)
        await this.$store.dispatch('fetchTodo')
        delete this.todo[this.countRemoveTodoList]
        this.todo = this.$store.getters.todo
        delete this.todo[this.countRemoveTodoList]
        console.log('После удаления ', this.todo)
      }
      this.$forceUpdate()
    },
    async editTodoList (editTodoListTitle) {
      this.editTodoListTitle = editTodoListTitle
      const editTodoListForm = {
        i: this.countEditTodoList,
        title: editTodoListTitle
      }
      await this.$store.dispatch('editTodoList', editTodoListForm)
      // this.todo = this.$store.getters.todo
      this.$forceUpdate()
    },
    selectTodo () {
      console.log(this.selectValue)
    }
  },
  filters: {

  },
  components: {
    ComponentTodo,
    AddTodoList
  }
}
</script>

<style scoped lang="scss">
  #TodoList{
    background: white;
    width: 50%;
    border: 1px solid #2c3e50;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;

    .select{
      width: 100%;
      height: 50px;
      select{
        width: 50%;
        margin: 15px auto;
        border: 2px solid #2c3e50;
        border-radius: 10px;
        outline: none;
        padding-left: 10px;
      }
    }

    .todo {
      width: 100%;
      display: flex;
      flex-direction: column;
      /*justify-content: space-between;*/
      border-top: 1px solid #2c3e50;
      height: 450px;
    }
    .btn{
      text-align: left;
      height: 50px;
      position: absolute;
      bottom: 10px;
      button{
        margin-left: 10px;
        background: white;
        border: 1px solid #cccccc;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        box-shadow: 1px 1px 1px 1px #ccc;
        outline: none;
      }
    }
  }
</style>
