<template>
  <div class="main">
    <header>
      <div>
        <h3>ToDo_list</h3>
        <h3>{{name}}</h3>
      </div>
      <button class="btn_out" @click="logout">Выйти</button>
    </header>
    <main>
      <TodoList
      @select = "select"
      />
      <List
        v-if="todoKey != ''"
      :todoKey = 'todoKey'
      />
    </main>
  </div>
</template>

<script>
import TodoList from '@/components/TodoList'
import List from '@/components/List'
export default {
  components: {
    TodoList,
    List
  },
  data: () => ({
    todoKey: ''
  }),
  async mounted () {
    if (!Object.keys(this.$store.getters.info).length) {
      await this.$store.dispatch('fetchInfo')
    }
  },
  methods: {
    async logout () {
      await this.$store.dispatch('logout')
      this.$router.push('/')
    },
    select (key) {
      // console.log('succes', key)
      this.todoKey = key
    }
  },
  computed: {
    name () {
      return this.$store.getters.info.name
    }
  }
}
</script>

<style scoped lang="scss">

  header{
    display: flex;
    justify-content: space-between;
    background: #2c3e50;
    color: #cccccc;

    div{
      display: flex;
      margin-left: 30px;

      h3{
        padding-right: 30px;
      }
    }
    .btn_out{
      font-size: 16px;
      text-decoration: none;
      color: #cccccc;
      text-align: center;
      margin: auto 0;
      margin-right: 30px;
      background: none;
      border: none;
      outline: none;
    }
  }

  main {
    display: flex;
  }
</style>
