<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
  body {
    margin: 0;
    background: url(https://cdn-images-1.medium.com/max/1600/1*2kmYJdNvUCAU3ufDR0HTmA.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
  }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
